h2{
    color:darkorchid;
    text-align: center;

    
}
.this{
    
    font-size: larger;
}
.second{
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    padding-left: 45%;

}
h1{

    text-align: center;
    /* background-color:aquamarine; */
    border:3px solid;
    /* border-width: 1080px; */
    border-color: rgb(185, 14, 14);
    /* width: 2080px; */

    /* margin:auto; */
    margin-top: 10px;
  }
.buttonn{
    transform: translateX(-100%);

}
.print{
    transform: translateX(-360%);
}